#board {
    background: rgba(23, 7, 131, 0.842);
    width: 300px;
    height: 300px;
    left: 0px;
    top: 0px;
}


.circle {
    background: rgba(1, 255, 31, 0.811);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
}
body {
    background-image: url("https://e0.pxfuel.com/wallpapers/35/239/desktop-wallpaper-green-purple-neon-light-lines-abstraction-abstract.jpg");
  }